solutions/ch06/orchestration/Orchestration.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"FabricDataPipelines admin":{"type":"string"},"https://stfabricmicrohacksw.blob.core.windows.net admin":{"type":"string"},"bronzerawdata":{"type":"string"}},"variables":{},"resources":[{"name":"Orchestration","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Ingest Green Taxi 2015","type":"InvokePipeline","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"waitOnCompletion":true,"operationType":"InvokeFabricPipeline","pipelineId":"20d24101-832f-4a78-aaeb-05972b0052e0","workspaceId":"ece15d60-7ea3-40f0-a554-ced3c753f11b","parameters":{}},"externalReferences":{"connection":"[parameters('FabricDataPipelines admin')]"}},{"name":"Load Green Taxi 2015","type":"InvokePipeline","dependsOn":[{"activity":"Ingest Green Taxi 2015","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"waitOnCompletion":true,"operationType":"InvokeFabricPipeline","pipelineId":"1e8601f5-8104-4c45-8437-56efd90e15f3","workspaceId":"ece15d60-7ea3-40f0-a554-ced3c753f11b","parameters":{}},"externalReferences":{"connection":"[parameters('FabricDataPipelines admin')]"}},{"name":"Load Green Taxi Discounts","type":"RefreshDataflow","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"dataflowId":"aead4206-09c1-4c7b-a511-ed235d9d1e34","workspaceId":"ece15d60-7ea3-40f0-a554-ced3c753f11b","notifyOption":"NoNotification","dataflowType":"DataflowFabric"}},{"name":"Load Green Taxi 2023","type":"TridentNotebook","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"d3806201-f9a2-4aeb-b57c-24caac2b1052","workspaceId":"ece15d60-7ea3-40f0-a554-ced3c753f11b","sessionTag":"taxi"}},{"name":"ForEach Years","type":"ForEach","dependsOn":[{"activity":"Load Green Taxi 2015","dependencyConditions":["Succeeded"]},{"activity":"Load Green Taxi Discounts","dependencyConditions":["Succeeded"]},{"activity":"Load Green Taxi 2023","dependencyConditions":["Succeeded"]}],"typeProperties":{"items":{"value":"@pipeline().parameters.Year","type":"Expression"},"isSequential":true,"activities":[{"name":"Transform Bronze to Silver","type":"TridentNotebook","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"26a6d559-0843-41d3-a750-efc7732e5ce1","workspaceId":"ece15d60-7ea3-40f0-a554-ced3c753f11b","parameters":{"p_year":{"value":{"value":"@item()","type":"Expression"},"type":"string"}},"sessionTag":"taxi"}}]}},{"name":"Transform Silver to Gold","type":"TridentNotebook","dependsOn":[{"activity":"ForEach Years","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"8c7b7b6f-8c28-4eeb-bde9-a9693b109c15","workspaceId":"ece15d60-7ea3-40f0-a554-ced3c753f11b","sessionTag":"taxi"}}],"parameters":{"Year":{"type":"array","defaultValue":["2015","2023"]}},"lastModifiedByObjectId":"7983e1a1-496a-420f-b4ae-83f3f253ac0c","lastPublishTime":"2025-10-14T08:20:25Z"},"dependsOn":[]},{"name":"Ingest Green Taxi 2015","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Ingest Taxi 2015","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"BinarySource","storeSettings":{"type":"AzureBlobStorageReadSettings","recursive":true},"formatSettings":{"type":"BinaryReadSettings"},"datasetSettings":{"annotations":[],"type":"Binary","typeProperties":{"location":{"type":"AzureBlobStorageLocation","fileName":"green_tripdata_2015-01.parquet","container":"taxidata"}},"externalReferences":{"connection":"[parameters('https://stfabricmicrohacksw.blob.core.windows.net admin')]"}}},"sink":{"type":"BinarySink","storeSettings":{"type":"LakehouseWriteSettings"},"datasetSettings":{"annotations":[],"linkedService":{"name":"bronzerawdata","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"ece15d60-7ea3-40f0-a554-ced3c753f11b","artifactId":"[parameters('bronzerawdata')]","rootFolder":"Files"}}},"type":"Binary","typeProperties":{"location":{"type":"LakehouseLocation","folderPath":"Landing/GreenTaxi2015"}}}},"enableStaging":false}}],"lastModifiedByObjectId":"7983e1a1-496a-420f-b4ae-83f3f253ac0c","lastPublishTime":"2025-10-14T07:28:17Z"},"dependsOn":[]},{"name":"Load Green Taxi 2015","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Load Greent Taxi 2015","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"ParquetSource","storeSettings":{"type":"LakehouseReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"ParquetReadSettings"},"datasetSettings":{"annotations":[],"linkedService":{"name":"bronzerawdata","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"ece15d60-7ea3-40f0-a554-ced3c753f11b","artifactId":"[parameters('bronzerawdata')]","rootFolder":"Files"}}},"type":"Parquet","typeProperties":{"location":{"type":"LakehouseLocation","fileName":"green_tripdata_2015-01.parquet","folderPath":"Landing/GreenTaxi2015"},"compressionCodec":"snappy"},"schema":[]}},"sink":{"type":"LakehouseTableSink","tableActionOption":"OverwriteSchema","partitionOption":"None","applyVOrder":true,"datasetSettings":{"annotations":[],"linkedService":{"name":"bronzerawdata","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"ece15d60-7ea3-40f0-a554-ced3c753f11b","artifactId":"[parameters('bronzerawdata')]","rootFolder":"Tables"}}},"type":"LakehouseTable","schema":[],"typeProperties":{"table":"green201501"}}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}}],"lastModifiedByObjectId":"7983e1a1-496a-420f-b4ae-83f3f253ac0c","lastPublishTime":"2025-10-07T11:53:59Z"},"dependsOn":[]}]}